.git
.github
node_modules
**/node_modules
dist
**/dist
.next
**/.next
.turbo
*.log
logs
coverage
.vscode
.idea
*.env
*.env.*
!**/.env.example
!**/.env.*.example
!**/.env.production.example
test-deploy*
